<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cart</title>
  <style>
    .active {
      background-color: #497EFF;
    }
  </style>
</head>
<body>
  <div id="app">
    <h2 :title="title">
      {{title}}
    </h2>

    <!-- 新增课程 -->
    <course-add v-model="course" @add-course="addCourse"></course-add>

    <!-- 列表组件 -->
    <course-list :courses="courses"></course-list>


    <!-- 课程总数 -->
    <p>
      课程总数：{{totalCount}} 门
    </p>
  </div>

  <script src="./vue.js"></script>
  <script>

    // 组件：高内聚，低耦合

    // 列表组件
    Vue.component('course-list', {
      props: {
        courses: {
          type: Array,
          default: []
        }
      },
      data() {
        return {
          selectCourse: ''
        }
      },
      template: `
        <div>
          <!-- 条件渲染 -->
          <p v-if="courses.length === 0">没有任何课程信息</p>
          <!-- 列表渲染 -->
          <div v-else
            class="course-list"
            :class="{active: selectCourse === c}"
            v-for="c in courses"
            :key="c"
            @click="selectCourse = c"
          >
            {{c}}
          </div>
        </div>
      `
    })
    
    // 新增组件
    Vue.component('course-add', {
      // model: {
      //   value: 'course',
      //   event: 'input'
      // },
      props: ['value'], // 让组件无状态化
      methods: {
        addCourse() {
          // 派发事件通知父组件新增课程
          this.$emit('add-course')
        },
        onInput(e) {
          this.$emit('input', e.target.value)
        }
      },
      template: `
        <!-- 用户输入 -->
        <p>
          <input type="text" :value="value" @keydown.enter="addCourse" @input="onInput">
          <button @click="addCourse">新增</button>
        </p>
      `
    })

    // 实例
    new Vue({
      el: '#app',
      data: {
        title: '购物车',
        courses: ['课程1', '课程2'],
        course: ''
      },
      computed: {
        totalCount() {
          return this.courses.length 
        }
      },
      methods: {
        addCourse() {
          this.courses.push(this.course)
          this.course = ''
        }
      },
    })
  </script>
</body>
</html>